{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{#{% block body_class %}template-homepage{% endblock %}#}

{% block banner %}
    {% image page.jumbotronImage fill-1920x300 as bg_img %}

    <div class="jumbotron jumbotron-fluid text-light py-5 d-flex align-items-centre cc-home-banner"
         style="background: linear-gradient(180.43deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.20) 100%),
                 url({{ bg_img.url }});">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <h1 class="display-3 cc-home-banner-title">{{ page.title }}</h1>
                    {% if page.jumbotronSubtitle %}
                        <p class="lead">{{ page.jumbotronSubtitle }}</p>
                    {% endif %}

                    {% if page.button %}
                        <p class="mt-3">
                            <a href="/admin" class="btn btn-light btn-lg">Admin öffnen</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="container">

        {# announcements #}
        {% for announcement in page.announcements %}
            {% include_block announcement with block_id=block.id %}
        {% endfor %}

        <div class="card">
            <div class="card-header">
                Latest Blogpost
            </div>
            <div class="card-body">
                <h5 class="card-title">ToDo</h5>
                <p class="card-text">Muss als Context an diese Seite übergeben werden. Gekürzter Text des <a href="/blog">... weiterlesen</a></p>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <hr>

        {% for block in page.body %}
            {% include_block block with block_id=block.id %}
        {% endfor %}

    </div> <!-- /container -->
{% endblock content %}