{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block banner %}
    <div class="jumbotron jumbotron-fluid text-light py-5 d-flex align-items-centre cc-home-banner"
         style="background: linear-gradient(180.43deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.20) 100%);">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <h1 class="display-3 cc-home-banner-title">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="row row-cols-1 row-cols-md-3">
            {% for post in posts %}
                <div class="col mb-4">
                    <div class="card h-100">
                        {% image post.blogpage.blogImage fill-300x200 as blog_img %}
                        <img src="{{ blog_img.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.blogpage.blogTeaser }}</p>
                            <a href={{ post.url }} class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}